@using System.Text.RegularExpressions;
@{
    string screenWidth = ViewBag.ScreenWidth + "px";
}
@model Article
<div class="mb-3" style="text-align:justify">
    <p>
        <img class="p-3 float-start" style="max-width: @screenWidth" src="@PathService.GetImageRelativePath(ConstantsService.ARTICLE, Model.Id)" alt="@Model.Name" />
        @Html.Raw($"<p>{Regex.Replace(Model.Text, "\n", "</p><p>")}</p>")
    </p>
</div>