@using System.Text.RegularExpressions;
@{
    string screenWidth = ViewBag.ScreenWidth + "px";
}
@model Article
<div class="mb-3" style="text-align:justify">
    <p>
        @Html.Raw(IImage.GetImageHtml(PathService.GetImageRelativePath(ConstantsService.ARTICLE, Model.Id), 0, 300, "auto", "100%", Model.Name, "p-3 float-start", screenWidth))
        @Html.Raw($"<p>{Regex.Replace(Model.Text, "\n", "</p><p>")}</p>")
    </p>
</div>