@model IList<Brand>

<div class="px-1 row justify-content-center justify-content-md-start">
    @foreach (Brand b in Model)
    {
        string id = b.Id + ".jpg";
        <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3 px-0">
            <a href="/@PathService.GetModelUrl(ConstantsService.BRAND, b.Id)">
                <div class="p-3">
                    @Html.Raw(IImage.GetImageHtml(PathService.GetImageRelativePath(ConstantsService.BRAND, b.Id), b.Version, 180, 60, "100%", "auto", b.Name, "card-img-top"))
                </div>
                <div class="text-center">@b.Name</div>
            </a>
        </div>
    }
</div>
