<div id="fl" class="keen-slider my-1">
</div>
<p class="text-primary">@string.Format(Localizer["items"].Value, ViewBag.PrCnt)</p>
<div id="promo" class="row justify-content-between my-3"></div>
<div id="items"></div>
<div id="cats" class="row justify-content-between"></div>
<div id="art" class="bg-light"></div>

@section Scripts {
    <link rel="stylesheet" href="~/lib/keen/slider.css" asp-append-version="true" />
    <script src="~/lib/keen/slider.js" asp-append-version="true"></script>
    <script src="~/js/index.js" asp-append-version="true"></script>
}