<h3>@Localizer["oops"]</h3>
<div style="height: 50vh" class="d-flex justify-content-center align-items-center">
    <div>
        <h6 class="text-center">@Localizer[ConstantsService.N404]</h6>
        <h3 class="text-center"><a href="/@ConstantsService.CATEGORIES">@Localizer["all"]</a></h3>
    </div>
</div>