@model LoginResponse
<div style="height: 50vh" class="d-flex justify-content-center align-items-center">
    <div class="text-center">
        <h6>@Model.Text</h6>
        <a href="/">
            @Html.Raw(IImage.GetImageHtml("/logo.", 0, 588, 76, "300px", "auto", "logo"))
        </a>
    </div>
</div>