@model LoginResponse
<div style="height: 50vh" class="d-flex justify-content-center align-items-center">
    <div class="text-center">
        <h6>@Model.Text</h6>
        <a href="/">
            <img class="img-fluid" width="300" height="60" src='~/logo.png' alt="logo" />
        </a>
    </div>
</div>