@model IQueryable<Promotion>

<div class="px-1 row justify-content-center justify-content-md-start">
    @if (Model.Any())
    {    @foreach (Promotion p in Model)
        {
            //string id = p.Id + ".jpg";
            <div class="col-12 col-xs-6 col-lg-3 p-1">
                <a href="/@PathService.GetModelUrl(ConstantsService.PROMOTION, p.Id)">
                    @Html.Raw(IImage.GetImageHtml(PathService.GetImageRelativePath(ConstantsService.PROMOTION, p.Id), p.Version, 600, 300, "100%", "auto", CultureProvider.GetLocalName(p.NameRu, p.NameEn, p.NameTm), "card-img-top rounded-top"))
                </a>
            </div>
        }
    }
    else
    {
        <div style="height: 50vh" class="d-flex justify-content-center align-items-center"><p class="text-center">@Localizer["noPromo"].Value</p></div>
    }
</div>
