@model string

<div style="height: 50vh" class="d-flex justify-content-center align-items-center">
        <div>
            <p class="text-center">@Localizer[Model]</p>
            <h4 class="text-center"><a href="/categories" class="text-brown">@Localizer["all"]</a></h4>
        </div>
</div>