main {
    min-height: 75vh
}

/* Track */
::-webkit-scrollbar-track {
    background: #fff
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #f18c29
}

::-webkit-scrollbar {
    width: .3em;
    height: .3em
}

html {
    scrollbar-width: thin;
    scrollbar-color: #f18c29 #fff;
}

.scroll-none {
    scrollbar-width: none
}

.scroll-none::-webkit-scrollbar-track {
    display:none
}

.scroll-none::-webkit-scrollbar {
    display: none
}

i {
    font-size: 1rem
}

.q {
    position: relative;
    right: 0.7rem;
    bottom: 0.8rem
}

.q2 {
    position: relative;
    right: 0.1rem;
    bottom: 0.8rem
}
/*
html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}*/

a:hover {
    color: #f18c29 !important
}

.pin::-webkit-outer-spin-button,
.pin::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* Firefox */
.pin[type=number] {
    -moz-appearance: textfield;
}

p {
    margin-bottom: 0;
    margin-top: 0
}

.bg-dark a {
    color: #f18c29
}

#search-form {
    max-width: 350px
}

@media (max-width:276px) {
    #search-form {
        max-width: calc(40vw)
    }
}

.fs1 {
    font-size: 1rem
}

@media (max-width:992px) {
    .fs1 {
        font-size: 0.9rem
    }
}

ol.breadcrumb:before {
    float: left;
    padding-right: .5rem;
    color: #757575;
    content: var(--mdb-breadcrumb-divider,"/")
}

s {
    text-decoration-color: #f93154
}

.form-order {
    max-width: 500px
}

@media (min-width:576px) and (max-width:768px) {
    .product-font {
        font-size: 0.7rem;
        line-height: 1.1
    }

    .product-oprice {
        font-size: 0.7rem !important;
        line-height: 1
    }

    .product-price {
        font-size: 0.8rem !important;
        line-height: 1
    }
}

@media (max-width:315px) {
    .product-font {
        font-size: 0.7rem;
        line-height: 1.1
    }

    .product-oprice {
        font-size: 0.7rem !important;
        line-height: 1
    }

    .product-price {
        font-size: 0.8rem !important;
        line-height: 1
    }
}

#btn-filter {
    position: fixed;
    bottom: 4rem;
    left: 1rem
}

.buttons-list i {
    font-size: 0.8rem
}
.vrh {
    overflow-y: hidden
}

.vrw {
    overflow-x: hidden
}

.small {
    line-height: 1px;
    font-size: 0.6rem
}

.scList {
    max-height: 15rem;
    overflow-y: scroll
}

a > .bg-primary {
    color: #fff
}

.form-check-input {
    min-width: 1.125rem
}

.product-name {
    line-height: 1;
    height: 2.4rem;
    overflow: hidden;
    text-overflow: ellipsis
}

.product-image {
    position: relative
}

.badges {
    position: absolute;
    top: 10px;
    left: 7px;
    z-index: 2
}

.z-index1{
    z-index: 1
}

    .accordion-h4:not(.collapsed)::after {
        background-image: var(--mdb-accordion-btn-active-icon);
        transform: var(--mdb-accordion-btn-icon-transform);
    }

.accordion-h4::after {
    flex-shrink: 0;
    width: var(--mdb-accordion-btn-icon-width);
    height: var(--mdb-accordion-btn-icon-width);
    content: "";
    background-image: var(--mdb-accordion-btn-active-icon);
    background-repeat: no-repeat;
    background-size: var(--mdb-accordion-btn-icon-width);
    transition: var(--mdb-accordion-btn-icon-transition);
}